// black
$black: #1d1d1d;

// blue
$blue: #013370;

// gray
$gray: #c6c6c6;
$light-gray: #f4f4f4;
$dark-gray: #393939;
$gray-800: #5e5a5a;

// green
$green: #25d366;

// red
$red: #ff3b3b;
$orange: #ff6600;

// white
$white: #ffffff;
