//Helvetica
@font-face {
  font-family: "helvetica-neue-light";
  src: url("styles/fonts/Helvetica/Helvetica Neue LT 45 Light.ttf");
}

@font-face {
  font-family: "helvetica-neue-roman";
  src: url("styles/fonts/Helvetica/Helvetica Neue LT 55 Roman.ttf");
}

@font-face {
  font-family: "helvetica-neue-bold";
  src: url("styles/fonts/Helvetica/Helvetica Neue LT 75 Bold.ttf");
}

@font-face {
  font-family: "helvetica-neue-medium";
  src: url("styles/fonts/Helvetica/Helvetica Neue LT 65 Medium.ttf");
}
