.i-arrow-down-right {
  mask-image: url("./assets/images/icons/arrow-down-right.svg");
  -webkit-mask-image: url("./assets/images/icons/arrow-down-right.svg");
}
.i-arrow-down {
  mask-image: url("./assets/images/icons/arrow-down.svg");
  -webkit-mask-image: url("./assets/images/icons/arrow-down.svg");
}
.i-back {
  mask-image: url("./assets/images/icons/back.svg");
  -webkit-mask-image: url("./assets/images/icons/back.svg");
}
.i-bag {
  mask-image: url("./assets/images/icons/bag.svg");
  -webkit-mask-image: url("./assets/images/icons/bag.svg");
}
.i-cashier {
  mask-image: url("./assets/images/icons/cashier.svg");
  -webkit-mask-image: url("./assets/images/icons/cashier.svg");
}
.i-check-mark {
  mask-image: url("./assets/images/icons/check-mark.svg");
  -webkit-mask-image: url("./assets/images/icons/check-mark.svg");
}
.i-close {
  mask-image: url("./assets/images/icons/close.svg");
  -webkit-mask-image: url("./assets/images/icons/close.svg");
}
.i-copy {
  mask-image: url("./assets/images/icons/copy.svg");
  -webkit-mask-image: url("./assets/images/icons/copy.svg");
}
.i-home {
  mask-image: url("./assets/images/icons/home.svg");
  -webkit-mask-image: url("./assets/images/icons/home.svg");
}
.i-info {
  mask-image: url("./assets/images/icons/info.svg");
  -webkit-mask-image: url("./assets/images/icons/info.svg");
}
.i-logout {
  mask-image: url("./assets/images/icons/logout.svg");
  -webkit-mask-image: url("./assets/images/icons/logout.svg");
}
.i-minus {
  mask-image: url("./assets/images/icons/minus.svg");
  -webkit-mask-image: url("./assets/images/icons/minus.svg");
}
.i-plus {
  mask-image: url("./assets/images/icons/plus.svg");
  -webkit-mask-image: url("./assets/images/icons/plus.svg");
}
.i-product {
  mask-image: url("./assets/images/icons/product.svg");
  -webkit-mask-image: url("./assets/images/icons/product.svg");
}
.i-profile {
  mask-image: url("./assets/images/icons/profile.svg");
  -webkit-mask-image: url("./assets/images/icons/profile.svg");
}
.i-qrcode {
  mask-image: url("./assets/images/icons/qrcode.svg");
  -webkit-mask-image: url("./assets/images/icons/qrcode.svg");
}
.i-refresh {
  mask-image: url("./assets/images/icons/refresh.svg");
  -webkit-mask-image: url("./assets/images/icons/refresh.svg");
}
.i-search {
  mask-image: url("./assets/images/icons/search.svg");
  -webkit-mask-image: url("./assets/images/icons/search.svg");
}
.i-sewing-machine {
  mask-image: url("./assets/images/icons/sewing-machine.svg");
  -webkit-mask-image: url("./assets/images/icons/sewing-machine.svg");
}
.i-shopping-cart {
  mask-image: url("./assets/images/icons/shopping-cart.svg");
  -webkit-mask-image: url("./assets/images/icons/shopping-cart.svg");
}
